@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.App-header {
    background-color: #FE18D3;
    height: auto;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(8px + 2vmin);
    color: white;
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.App-header-left {
    animation: fadeInScale 0.6s ease-in-out;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
}

.App-header-right {
    display: flex;
    justify-content: flex-end;
}

.App-header-logo {
    height: 80px;
    padding-right: 1em;
}

.App-header-title a{
    color: #FEFF38;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.App-header-title a:hover {
    text-shadow: 0 0 5px #fff, 0 0 10px #FF2941;
    transform: translateY(-2px);
}

.App-header-menu {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.App-header-menu-item {
    display: inline-block;
    margin-left: 1.5em;
}

.App-header-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.App-header-menu a:hover {
    color: #FEFF38;
    transform: translateY(-2px);
}